.changeButtons{
    cursor: pointer;
    color:black;
    font-weight:bold;
    font-size:20px;
    text-align: center;
}
.changeButtons plus{
    background-color:green;
    color:white;
    border: 2px solid white;
    border-radius:10px;
    font-family:"font", sans-serif;
    width: 20px;
    height:20px;
    text-align: center;
}
.changeButtons minus{
    background-color:green;
    color:white;
    border: 2px solid white;
    border-radius:10px;
    font-family:"font", sans-serif;
    width: 20px;
    height:20px;
    text-align: center;
}
.changeButtons plus:hover{
    color:red;
    background-color:green;
}
.changeButtons minus:hover{
    color:red;
    background-color:green;
}